html {
    position: relative;
    min-height: 100%;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 3.5rem;
  margin-bottom: 100px;
  font-family: 'Assistant', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-weight: bold;
}

ul {
  margin: 0;
}

.bg-steel {
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.banner{
  margin-left: 0 !important;
  padding-left: 0 !important;
  left: 0 !important;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/asciify/banner.jpg");
  width:100%;
  /* Set a specific height */
  /* height: 50%; */

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner img{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 30%;
  height: 30%;
}

.img-row{
  text-align: center;
}

.img-row img{
  width: 300px;
}

.footer{
  background: #1F1C2C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #1F1C2C);
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1200px){
  .img-row img{
    width: 250px;
  }
}

@media screen and (max-width: 991px){
  .img-row img{
    width: 180px;
  }
}

@media screen and (max-width: 900px){
  .banner img{
    padding-top: 40px;
    padding-bottom: 40px;
    width: 40%;
    height: 40%;
  }
}

@media screen and (max-width: 600px){
  .banner img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    height: 60%;
  }

  .result-img{
    padding: 5px !important;
  }
}